In [1]:
### Load in libraries
import pandas as pd 
import numpy as np
import datetime as dt
from faker import Faker

ModuleNotFoundError: No module named 'faker'

In [69]:
### Makeup data points
times = pd.date_range("2021-01-01", periods=200, freq="D")
time = pd.DataFrame(times, columns=["Timestamp"])
time = time.sample(frac=1).reset_index(drop=True)

### Makeup clients
fake = Faker()
persons = []
for _ in range(20):
  #print(fake.name())
  persons.append(fake.name())

In [71]:
#### Generating fake data
df = pd.DataFrame(persons, columns=["Client"])
df = pd.DataFrame(df["Client"].repeat(10)).reset_index(drop=True)
df1 = df.join(time)
df1["log"] = df1["Client"].astype(str) +  "///appointment on///" + df1["Timestamp"].dt.strftime("%Y-%m-%d")

In [82]:
df1["log"]

0      Brianna Dawson///appointment on///2021-03-31
1      Brianna Dawson///appointment on///2021-04-05
2      Brianna Dawson///appointment on///2021-02-16
3      Brianna Dawson///appointment on///2021-01-21
4      Brianna Dawson///appointment on///2021-05-18
                           ...
195     Brian Spencer///appointment on///2021-01-20
196     Brian Spencer///appointment on///2021-03-18
197     Brian Spencer///appointment on///2021-07-10
198     Brian Spencer///appointment on///2021-04-07
199     Brian Spencer///appointment on///2021-05-25
Name: log, Length: 200, dtype: object

In [95]:
### Putting it all together with the pipe
df2 = (
    df1["log"].str.split("///", expand=True)
    .rename(columns={0:"Client", 2:"Date"})
    .drop(1, axis=1)
    .sort_values(by=["Client", "Date"])
)

In [96]:
df2

             Client        Date
104  Andrea Johnson  2021-01-24
107  Andrea Johnson  2021-03-17
109  Andrea Johnson  2021-03-30
100  Andrea Johnson  2021-04-12
108  Andrea Johnson  2021-04-24
..              ...         ...
122  Vickie Pacheco  2021-03-12
127  Vickie Pacheco  2021-03-14
121  Vickie Pacheco  2021-04-04
120  Vickie Pacheco  2021-06-13
123  Vickie Pacheco  2021-07-06

[200 rows x 2 columns]