In [2]:
import pandas as pd 
import numpy as np

In [3]:
### Make up regional revenue data 
df =pd.DataFrame({"Europe":np.random.randint(100, 80000, 100),
                  "United States":np.random.randint(100, 100000, 100),
                  "Canada":np.random.randint(200, 25000, 100),
                  "Product":np.random.choice(["Product1","Product2"], 100)})

In [8]:
### Melt wide dataframe to long format 
df_rev_long = df.melt(id_vars=["Product"], value_vars=["Europe", "United States", "Canada"], var_name="Region", value_name="Revenue")

In [11]:
df_rev_long.head()

    Product  Region  Revenue
0  Product2  Europe    79157
1  Product2  Europe    60612
2  Product1  Europe    36405
3  Product1  Europe    42648
4  Product1  Europe    76950

In [12]:
### Pivot table to calculate regional revenue sum and mean over time. Return to wide format for reporting.
df_rev_wide_agg = df_rev_long.pivot_table(index="Product", columns="Region", values="Revenue", aggfunc=["sum", "mean"]).reset_index()

In [13]:
df_rev_wide_agg

         Product     sum                                 mean                \
Region            Canada   Europe United States        Canada        Europe
0       Product1  576503  1866941       2405520  12532.673913  40585.673913
1       Product2  679578  2434462       2328331  12584.777778  45082.629630


Region United States
0       52293.913043
1       43117.240741