In [1]:
### Load in libraries
import pandas as pd 
import numpy as np

In [9]:
dates = pd.date_range(start='1/1/2018', end='1/21/2020', freq='MS')
points =range(len(dates))

In [10]:
test = pd.DataFrame({"date":dates,
                        "stage":points})

In [12]:
### dates ordered by stages then shifted 
test['update_date'] = test['date'].shift(1)
test['update_date'] = test['update_date'].fillna(pd.to_datetime('2018-01-01'))

In [61]:
test.head()

        date  stage update_date  TAT (stages)
0 2018-01-01      0  2018-01-01             0
1 2018-02-01      1  2018-01-01            31
2 2018-03-01      2  2018-02-01            28
3 2018-04-01      3  2018-03-01            31
4 2018-05-01      4  2018-04-01            30

In [14]:
test['TAT (stages)'] = (test['date'] - test['update_date']).dt.days

In [60]:
test.head()

        date  stage update_date  TAT (stages)
0 2018-01-01      0  2018-01-01             0
1 2018-02-01      1  2018-01-01            31
2 2018-03-01      2  2018-02-01            28
3 2018-04-01      3  2018-03-01            31
4 2018-05-01      4  2018-04-01            30

In [44]:
### Log entry broken example
log = {"entry":['start_date', 'end_date']}
provided_dates = {"dates":['2021-03-31','2021-05-10']}
log.update(provided_dates)

In [47]:
df_log = pd.DataFrame.from_dict(log)

In [55]:
df_log['dates'] = pd.to_datetime(df_log['dates'])
df_log['start_adj'] = df_log.dates.shift(1) ### Adjust date to compare close vs start
df_log['TAT'] = (df_log['dates'] - df_log['start_adj']).dt.days ### take differnce in days or any other units

In [59]:
df_log

        entry      dates  start_adj   TAT
0  start_date 2021-03-31        NaT   NaN
1    end_date 2021-05-10 2021-03-31  40.0