In [57]:
### Load in libraries
import pandas as pd 
import numpy as np
import arrow ### specialized date library
import datetime as dt

In [66]:
### Makeup data points
t1 = dt.datetime(2021, 5, 10)
t2 = dt.datetime(2021, 5, 15)

isotimes = [
    "New Appointments - " + (t1 + dt.timedelta(minutes=minutes)).isoformat()
    for minutes in range(int((t2 - t1).total_seconds() // 60))
]

In [59]:
df = pd.DataFrame(isotimes, columns=["Appointment"])

In [60]:
df

                                 Appointment
0     New Appointments - 2021-05-10T00:00:00
1     New Appointments - 2021-05-10T00:01:00
2     New Appointments - 2021-05-10T00:02:00
3     New Appointments - 2021-05-10T00:03:00
4     New Appointments - 2021-05-10T00:04:00
...                                      ...
7195  New Appointments - 2021-05-14T23:55:00
7196  New Appointments - 2021-05-14T23:56:00
7197  New Appointments - 2021-05-14T23:57:00
7198  New Appointments - 2021-05-14T23:58:00
7199  New Appointments - 2021-05-14T23:59:00

[7200 rows x 1 columns]

In [70]:
### Doesn't work will need to parse the date from the string
pd.to_datetime(df.Appointment)

ParserError: Unknown string format: New Appointments - 2021-05-10T00:00:00

In [62]:
### Need to extract date portion
df['Date1'] = pd.to_datetime(df.Appointment.str.split(' - ').str.get(1))

In [63]:
df['Appointment']

0       New Appointments - 2021-05-10T00:00:00
1       New Appointments - 2021-05-10T00:01:00
2       New Appointments - 2021-05-10T00:02:00
3       New Appointments - 2021-05-10T00:03:00
4       New Appointments - 2021-05-10T00:04:00
                         ...
7195    New Appointments - 2021-05-14T23:55:00
7196    New Appointments - 2021-05-14T23:56:00
7197    New Appointments - 2021-05-14T23:57:00
7198    New Appointments - 2021-05-14T23:58:00
7199    New Appointments - 2021-05-14T23:59:00
Name: Appointment, Length: 7200, dtype: object

In [64]:
### Parse data beforehand with the correct format
corrected_dates = [arrow.get(i, "YYYY-MM-DDTHH:mm:ss").naive for i in isotimes]
df['Date2'] = corrected_dates

In [65]:
df

,Appointment,Date1,Date2
0,New Appointments - 2021-05-10T00:00:00,2021-05-10 00:00:00,2021-05-10 00:00:00
1,New Appointments - 2021-05-10T00:01:00,2021-05-10 00:01:00,2021-05-10 00:01:00
2,New Appointments - 2021-05-10T00:02:00,2021-05-10 00:02:00,2021-05-10 00:02:00
3,New Appointments - 2021-05-10T00:03:00,2021-05-10 00:03:00,2021-05-10 00:03:00
4,New Appointments - 2021-05-10T00:04:00,2021-05-10 00:04:00,2021-05-10 00:04:00
...,...,...,...
7195,New Appointments - 2021-05-14T23:55:00,2021-05-14 23:55:00,2021-05-14 23:55:00
7196,New Appointments - 2021-05-14T23:56:00,2021-05-14 23:56:00,2021-05-14 23:56:00
7197,New Appointments - 2021-05-14T23:57:00,2021-05-14 23:57:00,2021-05-14 23:57:00
7198,New Appointments - 2021-05-14T23:58:00,2021-05-14 23:58:00,2021-05-14 23:58:00
7199,New Appointments - 2021-05-14T23:59:00,2021-05-14 23:59:00,2021-05-14 23:59:00