In [1]:
import pandas as pd 
import numpy as np

In [2]:
def drop_col(df:pd.DataFrame, col:str):
    return df.drop(col, axis=1)

def get_data():
    ### Make up regional revenue data 
    df =pd.DataFrame({"Europe":np.random.randint(100, 80000, 100),
                  "United States":np.random.randint(100, 100000, 100),
                  "Canada":np.random.randint(200, 25000, 100),
                  "Product":np.random.choice(["Product1","Product2"], 100)})
    return df

def highlight_revenue(val):
    color = 'green' if val > 2000000 else 'red'
    return 'background-color: %s' % color

In [11]:
df_rev_wide = (
    ### Create data
    get_data()
    ### Wide to long transformation
    .melt(id_vars=["Product"], value_vars=["Europe", "Canada", "United States"], var_name="Region", value_name="Revenue")
    ### Summarize product revenue across regions
    .pivot_table(index="Product", columns="Region", values="Revenue",aggfunc=sum).reset_index()
)
rev_columns = df_rev_wide.columns[1:]

In [13]:
df_rev_wide.style.applymap(highlight_revenue, subset=rev_columns)

In [8]:
df_rev_wide.iloc[0,2]= np.nan

In [10]:
df_rev_wide.style.highlight_null()