In [1]:
import pandas as pd 
import numpy as np

In [23]:
def drop_col(df:pd.DataFrame, col:str):
    return df.drop(col, axis=1)

def get_data():
    ### Make up regional revenue data 
    df =pd.DataFrame({"Europe":np.random.randint(100, 80000, 100),
                  "United States":np.random.randint(100, 100000, 100),
                  "Canada":np.random.randint(200, 25000, 100),
                  "Product":np.random.choice(["Product1","Product2"], 100)})
    return df

In [33]:
df_rev_wide = (
    ### Create data
    get_data()
    ### Drop column
    .pipe(drop_col, "Canada")
    ### Wide to long transformation
    .melt(id_vars=["Product"], value_vars=["Europe", "United States"], var_name="Region", value_name="Revenue")
    ### Summarize product revenue across regions
    .pivot_table(index="Product", columns="Region", values="Revenue", aggfunc=["sum", "mean"]).reset_index()
)

In [34]:
df_rev_wide

         Product      sum                        mean
Region             Europe United States        Europe United States
0       Product1  1869120       2184657  40633.043478  47492.543478
1       Product2  2256025       2525566  41778.240741  46769.740741