In [1]:
### Load in libraries
import pandas as pd 
import numpy as np
from pathlib import Path

In [35]:
df = pd.read_excel(Path.cwd()/'test.xlsx', engine="openpyxl")

In [46]:
### regex pattern to extract the currency and amount from unstructured text
pat = r'(?P<Currency>[($|£|¥|€)])(?P<Amount>\d+[.]\d+|\d+ )'
### extract from the text and separate
df_extract = df.line.str.extract(pat)

In [47]:
df_extract.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Currency  15 non-null     object
 1   Amount    15 non-null     object
dtypes: object(2)
memory usage: 368.0+ bytes

In [49]:
df_extract["Amount"] = pd.to_numeric(df_extract.Amount)

In [52]:

df_extract.head()

  Currency  Amount
0        $  200.00
1        £  500.00
2        $  100.00
3        $  600.05
4        £  399.99

In [51]:
df_extract.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Currency  15 non-null     object
 1   Amount    15 non-null     float64
dtypes: float64(1), object(1)
memory usage: 368.0+ bytes