In [2]:
### Load in libraries
import pandas as pd 
import numpy as np
from pathlib import Path ### base package for file management

In [3]:
### Parse date with specific date column from previous week data. Specify dayfirst is false
df = pd.read_csv(Path(r"D:\Users\Tim\PyScripts\linkedin-learning\Week6")  / 'test_data.csv', parse_dates=['date'], dayfirst=False)

In [4]:
### Convert wide to long with date
df_rev_long = df.melt(id_vars=["Product", "date"], value_vars=["Europe", "United States", "Canada"], var_name="Region", value_name="Revenue")

In [6]:
## set date to resample
df_rev_long = df_rev_long.set_index("date")

KeyError: "None of ['date'] are in the columns"

In [8]:
## Resample by calendar year end
df_rev_long.resample("A").mean()

                 Revenue
date
2000-12-31  38912.571429
2001-12-31  44676.666667
2002-12-31  35366.428571
2003-12-31  26183.200000
2004-12-31  49401.166667
2005-12-31  44581.166667
2006-12-31  33222.791667
2007-12-31  38619.000000
2008-12-31  25536.222222
2009-12-31  32618.166667
2010-12-31  24169.111111
2011-12-31  29062.055556
2012-12-31   8268.333333
2013-12-31  27681.875000
2014-12-31  32201.133333
2015-12-31  32238.533333
2016-12-31  31044.428571
2017-12-31  40496.833333
2018-12-31  28849.833333
2019-12-31  34570.708333
2020-12-31  44579.500000

In [13]:
## Resample by business quarter end
df_rev_long.resample("BQ").mean().dropna()

                 Revenue
date
2000-03-31  29438.666667
2000-06-30  42702.133333
2001-06-29  47969.555556
2001-12-31  34798.000000
2002-03-29  37810.166667
2002-06-28  25709.166667
2002-09-30  40175.444444
2003-03-31  27841.166667
2003-09-30  25077.888889
2004-03-31  41290.666667
2004-12-31  57511.666667
2005-03-31  49460.666667
2005-09-30  42954.666667
2006-03-31  24710.833333
2006-06-30  34246.000000
2006-09-29  37165.666667
2006-12-29  39291.333333
2007-09-28  38619.000000
2008-03-31  34648.000000
2008-06-30   7312.666667
2009-03-31  35014.333333
2009-06-30  17532.000000
2009-12-31  38963.166667
2010-03-31  20582.833333
2010-06-30  31341.666667
2011-03-31  26275.222222
2011-06-30  31350.666667
2011-12-30  32845.333333
2012-06-29   8268.333333
2013-03-29  21684.500000
2013-06-28  28328.416667
2013-12-31  32386.166667
2014-03-31  23891.000000
2014-06-30  17477.666667
2014-12-31  47873.000000
2015-03-31  12769.333333
2015-09-30  26788.333333
2015-12-31  47423.333333
2016-03-31  30824.466667
2016-09-30  48269.000000
2016-12-30  14919.666667
2017-03-31  35394.666667
2017-09-29  36985.333333
2017-12-29  54212.666667
2018-03-30  26287.444444
2018-06-29  37257.666667
2018-09-28  30536.333333
2018-12-31  26442.666667
2019-03-29  28645.666667
2019-06-28  39302.916667
2019-12-31  30236.111111
2020-06-30  44579.500000