In [52]:
import pandas as pd 
import numpy as np

In [53]:
def get_data():
    ### Make up regional revenue data 
    df =pd.DataFrame({"Europe":np.random.randint(100, 80000, 100),
                  "United States":np.random.randint(100, 100000, 100),
                  "Canada":np.random.randint(200, 25000, 100),
                  "Product":np.random.choice(["Product1","Product2"], 100),
                  "Year": np.random.randint(2000,2021,100),
                  "Month":np.random.randint(1,12,100)}
                  )
    return df

In [54]:
day = np.random.randint(1,28,100)

In [55]:
df = get_data()

In [56]:
df1 = df.copy(deep=True)

In [57]:
df['year-month'] = pd.to_datetime(df['Year'].astype(str) + "-" + df['Month'].astype(str) +"-01")

In [58]:
df1['Day'] = day

In [59]:
df1['date'] = pd.to_datetime(df1[['Year', 'Month', 'Day']])

In [60]:
df

    Europe  United States  Canada   Product  Year  Month year-month
0    20578          60742   22123  Product2  2000     11 2000-11-01
1    30966          90731   19771  Product1  2011      1 2011-01-01
2     3384           8980    5206  Product2  2015      6 2015-06-01
3    56309          89123   21259  Product2  2000      7 2000-07-01
4    15229          42721   13407  Product1  2016      3 2016-03-01
..     ...            ...     ...       ...   ...    ...        ...
95   24514          67772   19741  Product2  2009      5 2009-05-01
96   11465          64678   24667  Product2  2007     11 2007-11-01
97   26566           1180   16835  Product2  2017      6 2017-06-01
98   79913          24906    1929  Product2  2013     10 2013-10-01
99   45831          80472   13508  Product2  2007      8 2007-08-01

[100 rows x 7 columns]

In [61]:
df1

    Europe  United States  Canada   Product  Year  Month  Day       date
0    20578          60742   22123  Product2  2000     11    1 2000-11-01
1    30966          90731   19771  Product1  2011      1    8 2011-01-08
2     3384           8980    5206  Product2  2015      6   17 2015-06-17
3    56309          89123   21259  Product2  2000      7    3 2000-07-03
4    15229          42721   13407  Product1  2016      3   22 2016-03-22
..     ...            ...     ...       ...   ...    ...  ...        ...
95   24514          67772   19741  Product2  2009      5   15 2009-05-15
96   11465          64678   24667  Product2  2007     11    4 2007-11-04
97   26566           1180   16835  Product2  2017      6    4 2017-06-04
98   79913          24906    1929  Product2  2013     10   13 2013-10-13
99   45831          80472   13508  Product2  2007      8    5 2007-08-05

[100 rows x 8 columns]